/* ----------------------------------------------------------------------
	Red
---------------------------------------------------------------------- */
/* Basic */
a { color: #cc6666; }
::selection { background: #cc6666; }
::-moz-selection {
 background: #cc6666;
}
/* Menu */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #cc6666; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #cc6666; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #cc6666; }
@media (min-width: 768px) {
.dropdown-menu { border-top: 4px solid #cc6666; }
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: #cc6666; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background-color: #cc6666; }
@media (min-width: 768px) {
.yamm .yamm-content ul li:hover { background: #cc6666; }
}
.navbar-toggle {
	background-color: #cc6666;
	border: 1px solid #cc6666;
}
.navbar-default .navbar-toggle { border-color: #cc6666; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #cc6666; }
@media (max-width: 767px) {
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { background-color: #cc6666; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background-color: #cc6666; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-color: #cc6666; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #cc6666; }
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: #cc6666; }
.yamm .yamm-content ul li:hover i, .yamm .yamm-content ul li:hover a, .yamm .yamm-content ul li a:hover { color: #cc6666; }
}
.topbar-search .dropdown-menu { border-top: 4px solid #cc6666; }
.header-search .dropdown-menu { border-top: 4px solid #cc6666; }
/* Structure */
.blog-info, .studio-info, .toppanel-button { background: #cc6666; }
.titleline { border-top: 1px solid #cc6666; }
.titleline-center { border-top: 1px solid #cc6666; }
.titleline-footer { border-top: 1px solid #cc6666; }
.titleline-icon { border-top: 1px solid #cc6666; }
.titleline-icon:after { color: #cc6666; }
.subtitle, .topbar-contact > li i, .topbar-contact > li > a:hover, .topbar-contact > li > a:focus, .language > a:hover, .language > a:focus, 
.toppanel a:hover, .toppanel a:focus, .toppanel-list li a:hover, .toppanel-list li i, .bottompanel a:hover, .bottompanel a:focus, .bottompanel-list li a:hover, .bottompanel-list li i { color: #cc6666; }
.titleline2 { border-top: 1px solid #cc6666; }
.titleline2:after { border-top: 5px solid #cc6666; }
.titleline2-center { border-top: 1px solid #cc6666; }
.titleline2-center:after { border-top: 5px solid #cc6666; }
.titleline2-footer { border-top: 1px solid #cc6666; }
.titleline2-footer:after { border-top: 5px solid #cc6666; }
.footer-list li a:hover, .copyright-link li a:hover, .footer-list li i { color: #cc6666; }
.footer-info, .bottompanel-button { background: #cc6666; }
.social-icons > li a i:hover { background: #cc6666; }
#topbar .social-icons > li a i:hover { background: #cc6666; }
#copyright .social-icons > li a i:hover { background: #cc6666; }
#back-to-top:hover, #back-to-top:focus { background-color: #cc6666; }
/* Blog */
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: #cc6666;
	border-color: #cc6666;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #cc6666;
	border-color: #cc6666;
}
.sidebar-list li i { color: #cc6666; }
.sidebar-tag li { border: 1px solid #cc6666; }
.sidebar-tag li:hover { background: #cc6666; }
.sidebar-tag li a { color: #cc6666; }
/* Isotope */
.button-group .button:hover, .button-group2 .button:hover, .button-group3 .button:hover, .button-group4 .button:hover {
	color: #cc6666;
	border: 1px solid #cc6666;
}
.button-group .button:active, .button-group2 .button:active, .button-group3 .button:active, .button-group4 .button:active, .button-group .button.is-checked, .button-group2 .button.is-checked, .button-group3 .button.is-checked, .button-group4 .button.is-checked {
	border: 1px solid #cc6666;
	background: #cc6666;
}
/* Slider */
.theme-large { color: #cc6666; }
.theme-medium { color: #cc6666; }
.theme-small { color: #cc6666; }
.theme-bg { background-color: #cc6666; }
.owl-theme-large { color: #cc6666; }
.owl-theme-medium { color: #cc6666; }
.owl-theme-small { color: #cc6666; }
.owl-theme-bg { background-color: #cc6666; }
/* Shortcodes */
.cart-dropdown .dropdown-menu { border-top: 4px solid #cc6666; }
.owl-theme.black-arrow .owl-controls .owl-buttons div, .dropcap-theme { background: #cc6666; }
.icon-arrow-list li i { color: #cc6666; }
blockquote { border-color: #cc6666; }
.alert-theme, 
.skillbar-theme { background-color: #cc6666; }
.promobox-theme, 
.photo-title3 { background: #cc6666; }
.frame, .chartbox-icon i { border: 1px solid #cc6666; }
.chart-theme i {
	color: #cc6666;
	border: 1px solid #cc6666;
}
.timeline { border-left: 1px dashed #cc6666; }
@media (min-width: 768px) {
.timeline:before {
	color: #cc6666;
	border: 1px solid #cc6666;
}
.timeline:after {
	color: #cc6666;
	border: 1px solid #cc6666;
}
}
/* Accordion & Tab */
.accordion-container h4.active { background-color: #cc6666; }
.accordion-container.accordion-container2 h4.active { color: #cc6666; }
.accordion-container.accordion-container2 h4:before { background-color: #cc6666; }
.toggle-container h4.active { background-color: #cc6666; }
.toggle-container.toggle-container2 h4.active { color: #cc6666; }
.toggle-container.toggle-container2 h4:before { background-color: #cc6666; }
.tab a.active { color: #cc6666; }
.tab-side-container ul li a.selected-tab { color: #cc6666; }
.tab-container2 .tab a.active { background: #cc6666; }
.tab-side-container.tab-side-container2 ul li a.selected-tab { background: #cc6666; }
/* Contentbox */
.contentbox-theme { background: #cc6666; }
.contentbox-theme .triangle-right {
	border-left: 15px solid #cc6666;
}
.contentbox-theme .triangle-left {
	border-right: 15px solid #cc6666;
}
.contentbox-theme .triangle-top {
	border-bottom: 15px solid #cc6666;
}
.contentbox-theme .triangle-bottom {
	border-top: 15px solid #cc6666;
}
/* Iconbox */
.iconbox1-icon i {
	border: 1px solid #cc6666;
	color: #cc6666;
}
.iconbox1:hover .iconbox1-icon i { color: #cc6666; }
@media (min-width: 992px) {
.line300:before { border-top: 1px dashed #cc6666; }
.line300:after { color: #cc6666; }
}
.iconbox2-icon i {
	border: 1px solid #cc6666;
	background: #cc6666;
}
.iconbox2:hover .iconbox2-icon i { color: #cc6666; }
.photobox2:hover .photobox2-content { border: 5px solid #cc6666; }
.process-3 { background: #cc6666; }
.process-content h4 i { color: #cc6666; }
.tooltip-course:hover .tooltip-point { color: #cc6666; }
.btn-theme { background: #cc6666; }
.text-theme { color: #cc6666; }
.label-theme, 
.highlight-theme { background: #cc6666; }
.effect-phoebe { background: #cc6666; }
/* Wrapper Background */
.wrapper-themebg, .wrapper-themebg .line300:after, .wrapper-themebg .titleline-icon:after, .wrapper-themebg .divider-icon i { background: #cc6666; }
.wrapper-themebg .process-2 .triangle-left, .wrapper-themebg .process-3 .triangle-left {
	border-left: 15px solid #cc6666;
	-webkit-box-shadow: -1px 0px 0px #cc6666;
	box-shadow: -1px 0px 0px #cc6666;
}
.wrapper-darkbg .titleline-icon, .widebox-black-content .titleline-icon { border-top: 1px solid #cc6666; }
.wrapper-darkbg .titleline-icon:after, .widebox-black-content .titleline-icon:after { color: #cc6666; }
/* Header Wrapper */
#header-wrapper #topbar .social-icons > li a i:hover { background: #cc6666; }
#header-wrapper .topbar-contact > li i, 
#header-wrapper #topbar .topbar-contact > li > a:hover, 
#header-wrapper #topbar .topbar-contact > li > a:focus, 
#header-wrapper #topbar .language > a:hover, 
#header-wrapper #topbar .language > a:focus { color: #cc6666; }
#header-wrapper .navbar-default .navbar-nav > li > a:hover, 
#header-wrapper .navbar-default .navbar-nav > li > a:focus { color: #cc6666; }
#header-wrapper .navbar-default .navbar-nav > .active > a, 
#header-wrapper .navbar-default .navbar-nav > .active > a:hover, 
#header-wrapper .navbar-default .navbar-nav > .active > a:focus { color: #cc6666; }
#header-wrapper .navbar-default .navbar-nav > .open > a, 
#header-wrapper .navbar-default .navbar-nav > .open > a:hover, 
#header-wrapper .navbar-default .navbar-nav > .open > a:focus { color: #cc6666; }
#header-wrapper.header-wrapper2 #topbar .social-icons > li a i:hover { background: #cc6666; }
#header-wrapper.header-wrapper2 .topbar-contact > li i, 
#header-wrapper.header-wrapper2 #topbar .topbar-contact > li > a:hover, 
#header-wrapper.header-wrapper2 #topbar .topbar-contact > li > a:focus, 
#header-wrapper.header-wrapper2 #topbar .language > a:hover, 
#header-wrapper.header-wrapper2 #topbar .language > a:focus, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > li > a:hover, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > li > a:focus, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > .active > a, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > .active > a:hover, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > .active > a:focus, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > .open > a, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > .open > a:hover, 
#header-wrapper.header-wrapper2 .navbar-default .navbar-nav > .open > a:focus { color: #cc6666; }
@media (min-width: 1200px) {
#topbar:before, #header-bg:before, #header:before, #header:after { background: #cc6666; }
}
@media (min-width: 768px) {
#topbar.topbar-skew:before, 
#topbar.topbar-skew:after { background: #cc6666; }
#copyright.copyright-skew:before { background: #cc6666; }
#copyright.copyright-skew:after { background: #cc6666; }
}
/* Rgba */
.theme-overlay .rev_slider .slotholder:after, .theme-overlay .html5vid.fullcoveredvideo:after, .owl-slider.theme-overlay .item:after, .theme-overlay .pagetitle-overlay {
	background: #cc6666;
	background: rgba(204,102,102,0.5);
	z-index: 2;
}
.da-thumbs div, .iconbox1:hover .effect-8:after, .iconbox2:hover .effect-8:after, .iconbox1:hover .effect-1:after, .iconbox2:hover .effect-1:after, .iconbox1:hover .effect-2:after, .iconbox2:hover .effect-2:after {
	background: #cc6666;
	background: rgba(204,102,102,0.7);
}
.plan-theme, .price-theme { background: #cc6666; }
.parallax-overlay-theme {
	background: #cc6666;
	background: rgba(204,102,102,0.7);
}
.effect-3:after, 
.iconbox1:hover .effect-3:after, 
.iconbox2:hover .effect-3:after { box-shadow: 0 0 0 4px #cc6666; }
@-webkit-keyframes sonarEffect { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc6666, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc6666, 0 0 0 10px rgba(255,255,255,0.5);
 -webkit-transform: scale(1.1);
 opacity: 0;
}
}
@-moz-keyframes sonarEffect { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc6666, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc6666, 0 0 0 10px rgba(255,255,255,0.5);
 -moz-transform: scale(1.1);
 opacity: 0;
}
}
@keyframes sonarEffect { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc6666, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc6666, 0 0 0 10px rgba(255,255,255,0.5);
 transform: scale(1.1);
 opacity: 0;
}
}
/* Theme Gradient Overlay */
.theme-gradient-overlay .rev_slider .slotholder:after, .theme-gradient-overlay .html5vid.fullcoveredvideo:after, .owl-slider.theme-gradient-overlay .item:after, .theme-gradient-overlay .pagetitle-overlay {
	background: rgb(204,40,40);
	background: -moz-linear-gradient(45deg, rgba(204,40,40,0.7) 0%, rgba(204,122,40,0.7) 100%);
	background: -webkit-linear-gradient(45deg, rgba(204,40,40,0.7) 0%, rgba(204,122,40,0.7) 100%);
	background: linear-gradient(45deg, rgba(204,40,40,0.7) 0%, rgba(204,122,40,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2828', endColorstr='#cc7a28', GradientType=1 );
}
